In [7]:
import pandas as pd
import numpy as np
import copy
# Read Pokedex.
pokedex: pd.DataFrame = pd.read_csv("./pokemon.csv", sep=",")
display(pokedex)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [8]:
pokemonNames: pd.Series = pokedex['Name']
display(pokemonNames)

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [9]:
display(pokedex.loc[:,['Name','HP']])

                      Name  HP
0                Bulbasaur  45
1                  Ivysaur  60
2                 Venusaur  80
3    VenusaurMega Venusaur  80
4               Charmander  39
..                     ...  ..
795                Diancie  50
796    DiancieMega Diancie  50
797    HoopaHoopa Confined  80
798     HoopaHoopa Unbound  80
799              Volcanion  80

[800 rows x 2 columns]

## Mostra el nom i la HP de les 15 √∫ltimes files

In [10]:
pokedex.loc[ : , ['Name', 'HP']].tail(15)

                    Name   HP
785  GourgeistSmall Size   55
786  GourgeistLarge Size   75
787  GourgeistSuper Size   85
788             Bergmite   55
789              Avalugg   95
790               Noibat   40
791              Noivern   85
792              Xerneas  126
793              Yveltal  126
794     Zygarde50% Forme  108
795              Diancie   50
796  DiancieMega Diancie   50
797  HoopaHoopa Confined   80
798   HoopaHoopa Unbound   80
799            Volcanion   80

### Coordenades. Extreure l'id, el nom, l'HP i de diversos pokemons, els que tenen index, 20, 21 ,22

In [11]:
display(pokedex.loc[[20, 21, 22] , [ '#', 'Name', 'HP']])

     #       Name  HP
20  16     Pidgey  40
21  17  Pidgeotto  63
22  18    Pidgeot  83

# M√†scares de selecci√≥

#### Mask = Objecte que amaga tota la informaci√≥ que no volem.

#####

In [12]:
# 1. Seleccionar Pokemons criteri num√®ric. HP>= 100
mask_hp_over100 = pokedex.loc[:, 'HP']>=100

display(pokedex.loc[mask_hp_over100, :])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
44,39,Jigglypuff,Normal,Fairy,270,115,45,20,45,25,20,1,False
45,40,Wigglytuff,Normal,Fairy,435,140,70,45,85,50,45,1,False
96,89,Muk,Poison,NaN,500,105,105,75,65,100,50,1,False
120,112,Rhydon,Ground,Rock,485,105,130,120,45,45,40,1,False
121,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
753,683,Aromatisse,Fairy,NaN,462,101,72,72,99,89,29,6,False
769,699,Aurorus,Rock,Ice,521,123,77,72,99,92,58,6,False
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [13]:
#3. Volem obtenir els pokemons que tinguin o b√© el tipus 1 o el tipus 2 Water.

mask5 = (pokedex.loc[:,"Type 1"] == "Water") | (pokedex.loc[:,"Type 2"] == "Water")
display(pokedex.loc[mask5,:])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
759,689,Barbaracle,Rock,Water,500,72,105,115,54,86,68,6,False
760,690,Skrelp,Poison,Water,320,50,60,60,60,60,30,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [14]:
# 4. Volem els pokemons amb el hp igual 50, rempla√ßa els valors np.nan per no aplica.
pokedex2 = copy.deepcopy(pokedex)

mask_hp_less_50 = (pokedex2.loc[:,'HP'] < 50)

result = pokedex2.loc[mask_hp_less_50, ['HP']] = 50
display(pokedex2.loc[mask_hp_less_50, ['HP', 'Name'] ])

     HP                   Name
0    50              Bulbasaur
4    50             Charmander
9    50               Squirtle
13   50               Caterpie
16   50                 Weedle
..   ..                    ...
774  50                  Goomy
778  50               Phantump
780  50  PumpkabooAverage Size
781  50    PumpkabooSmall Size
790  50                 Noibat

[148 rows x 2 columns]

In [15]:
# Fes que tots els pokemon de generaci√≥ 1 tinguin 20 punts m√©s d'HP.

pokedex2 = copy.deepcopy(pokedex)

# Creem m√†scara.
mask_1gen = (pokedex2.loc[ : , 'Generation' ] == 1)

# Pas 2. Substituim valors m√†scara.
pokedex2.loc[ mask_1gen, ['HP'] ] += 20 

# Pas 3. Validaci√≥. Consultem el resultat despr√©s d'aplicar la m√†scara.
display(pokedex2.loc[mask_1gen, : ])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,65,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,80,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,100,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,100,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,59,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,149,Dragonite,Dragon,Flying,600,111,134,95,100,100,80,1,False
162,150,Mewtwo,Psychic,NaN,680,126,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,126,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,126,150,70,194,120,140,1,True
165,151,Mew,Psychic,NaN,600,120,100,100,100,100,100,1,False

#### Fes que tots els pokemon de tipus el√®ctric, que en vez de decirse electric, ahora
tendran un s√≠mbolo de un rayo.
üó≤ => U+1F5F2

In [16]:
pokedex2 = copy.deepcopy(pokedex)

# M√†scara de substituci√≥ de valors.

# Pas 1. Aplicar la m√†scara per seleccionar els que s√≥n de tipus el√®ctric.
mask_electrics = (pokedex2.loc[ : , 'Type 1' ] == 'Electric') | (pokedex2.loc[ : , 'Type 2' ] == 'Electric')

# Pas 2. Aplicar la m√†scara; √©s a dir, modificar nom√©s les files del dataframe que compleixen la m√†scara.
#  df. üó≤ => U+1F5F2
pokedex2.loc[mask_electrics,['Type 1'] ] = "üó≤"
pokedex2.loc[mask_electrics,['Type 2'] ] = "üó≤"

# Pas 3. Validaci√≥. Consultem el resultat despr√©s d'aplicar la m√†scara.
print(pokedex2.loc[mask_electrics, : ])

mask9 = (pokedex2.loc[ : , 'Type 1' ] == 'Electric') | (pokedex2.loc[:, 'Type 2'] == 'Electric')

# df. üó≤ => U+1F5F2
pokedex2.loc[mask9,['Type 1'] ] = "üó≤"
pokedex2.loc[mask9, ["Type 2"]] = "üó≤"

display(pokedex2.loc[mask9, :])

       #                      Name Type 1 Type 2  Total   HP  Attack  Defense  \
30    25                   Pikachu      üó≤      üó≤    320   35      55       40
31    26                    Raichu      üó≤      üó≤    485   60      90       55
88    81                 Magnemite      üó≤      üó≤    325   25      35       70
89    82                  Magneton      üó≤      üó≤    465   50      60       95
108  100                   Voltorb      üó≤      üó≤    330   40      30       50
109  101                 Electrode      üó≤      üó≤    480   60      50       70
134  125                Electabuzz      üó≤      üó≤    490   65      83       57
146  135                   Jolteon      üó≤      üó≤    525   65      65       60
157  145                    Zapdos      üó≤      üó≤    580   90      90       85
184  170                  Chinchou      üó≤      üó≤    330   75      38       38
185  171                   Lanturn      üó≤      üó≤    460  125      58       58
186  172                     Pichu      üó≤      üó≤    205   20      40       15
193  179                    Mareep      üó≤      üó≤    280   55      40       40
194  180                   Flaaffy      üó≤      üó≤    365   70      55       55
195  181                  Ampharos      üó≤      üó≤    510   90      75       85
196  181     AmpharosMega Ampharos      üó≤      üó≤    610   90      95      105
258  239                    Elekid      üó≤      üó≤    360   45      63       37
262  243                    Raikou      üó≤      üó≤    580   90      85       75
337  309                 Electrike      üó≤      üó≤    295   40      45       40
338  310                 Manectric      üó≤      üó≤    475   70      75       60
339  310   ManectricMega Manectric      üó≤      üó≤    575   70      75       80
340  311                    Plusle      üó≤      üó≤    405   60      50       40
341  312                     Minun      üó≤      üó≤    405   60      40       50
448  403                     Shinx      üó≤      üó≤    263   45      65       34
449  404                     Luxio      üó≤      üó≤    363   60      85       49
450  405                    Luxray      üó≤      üó≤    523   80     120       79
464  417                 Pachirisu      üó≤      üó≤    405   60      45       70
513  462                 Magnezone      üó≤      üó≤    535   70      70      115
517  466                Electivire      üó≤      üó≤    540   75     123       67
531  479                     Rotom      üó≤      üó≤    440   50      50       77
532  479           RotomHeat Rotom      üó≤      üó≤    520   50      65      107
533  479           RotomWash Rotom      üó≤      üó≤    520   50      65      107
534  479          RotomFrost Rotom      üó≤      üó≤    520   50      65      107
535  479            RotomFan Rotom      üó≤      üó≤    520   50      65      107
536  479            RotomMow Rotom      üó≤      üó≤    520   50      65      107
581  522                   Blitzle      üó≤      üó≤    295   45      60       32
582  523                 Zebstrika      üó≤      üó≤    497   75     100       63
648  587                    Emolga      üó≤      üó≤    428   55      75       60
656  595                    Joltik      üó≤      üó≤    319   50      47       50
657  596                Galvantula      üó≤      üó≤    472   70      77       60
663  602                    Tynamo      üó≤      üó≤    275   35      55       40
664  603                 Eelektrik      üó≤      üó≤    405   65      85       70
665  604                Eelektross      üó≤      üó≤    515   85     115       80
679  618                  Stunfisk      üó≤      üó≤    471  109      66       84
704  642  ThundurusIncarnate Forme      üó≤      üó≤    580   79     115       70
705  642    ThundurusTherian Forme      üó≤      üó≤    580   79     105       70
707  644                    Zekrom      üó≤      üó≤    680  100     150      120
764  694                Helioptile      üó≤      üó≤    289   44      38       33
765  695                 Heliolisk      üó≤      üó≤    481   62      55       52
772  702                   Dedenne      üó≤      üó≤    431   67      58       57

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
30        50       50     90           1      False
31        90       80    110           1      False
88        95       55     45           1      False
89       120       70     70           1      False
108       55       55    100           1      False
109       80       80    140           1      False
134       95       85    105           1      False
146      110       95    130           1      False
157      125       90    100           1       True
184       56       56     67           2      False
185       76       76     67           2      False
186       35       35     60           2      False
193       65       45     35           2      False
194       80       60     45           2      False
195      115       90     55           2      False
196      165      110     45           2      False
258       65       55     95           2      False
262      115      100    115           2       True
337       65       40     65           3      False
338      105       60    105           3      False
339      135       80    135           3      False
340       85       75     95           3      False
341       75       85     95           3      False
448       40       34     45           4      False
449       60       49     60           4      False
450       95       79     70           4      False
464       45       90     95           4      False
513      130       90     60           4      False
517       95       85     95           4      False
531       95       77     91           4      False
532      105      107     86           4      False
533      105      107     86           4      False
534      105      107     86           4      False
535      105      107     86           4      False
536      105      107     86           4      False
581       50       32     76           5      False
582       80       63    116           5      False
648       75       60    103           5      False
656       57       50     65           5      False
657       97       60    108           5      False
663       45       40     60           5      False
664       75       70     40           5      False
665      105       80     50           5      False
679       81       99     32           5      False
704      125       80    111           5       True
705      145       80    101           5       True
707      120      100     90           5       True
764       61       43     70           6      False
765      109       94    109           6      False
772       81       67    101           6      False

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

### Fes que els valors np.nan que hi ha a la filera de Type 2 hi posi "Not Avaliable"

In [17]:

pokedex3 = copy.deepcopy(pokedex)
# Primer mirem si hi ha han.
print("Nan values", pokedex['Type 2'].isnull().sum())

# Pas. Podem aplicar dir√®ctament la m√†scara, fillna el que fa √©s 
mask_replace_nan = pokedex3.loc[:, 'Type 2'].fillna('Not Aviable')

pokedex3.loc[:, ['Type 2']] = mask_replace_nan
# Pas 3. Validaci√≥. Consultem el resultat despr√©s d'aplicar la m√†scara.
display(pokedex3)
# mirar si √©s np.nan o no, i si ho hes ho canvia pel valor.

Nan values 386

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,Not Aviable,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True